@import "./assets/scss/fonts.scss";
@import "normalize.css";

* {
   box-sizing: border-box;
}

html {
   font-size: $baseFontSize;

   @include tablets {
      font-size: 15px;
   }

   @include phones {
      font-size: 14px;
   }
}

#app {
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: $text-color;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
}

button {
   border: none;
   background: transparent;
   cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-weight: normal;
}

p {
   padding: 0;
   margin: 0;
}

.container {
   max-width: 1280px;
   width: 95%;
   margin: 0 auto;
   padding-bottom: rem(116);
}

.header {
   padding: 24px 0;
   margin-bottom: 30px;
}